<form action="/add" method="post">
  <label for="conteudo">Título</label>
  <input type="text" name="titulo" />
  <label for="conteudo">Conteúdo</label>
  <textarea name="conteudo"></textarea>
  <button type="submit">Cadastrar postagem</button>
</form>